.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

@media (max-width: 1440px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}


@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: none;
    }
}


/*container*/

.table {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 15px;
}


.title {
    font-size: 30px;
    font-weight: 300;
    margin-top: 100px;
    margin-bottom: 50px;
}