.container {
    display: grid;
    border: 1px solid black;
    box-shadow: 0px 0px 38px 15px rgba(34, 60, 80, 0.05);
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "main first second"
        "main third fourth";
    background-color: white;
}


.main {
    grid-area: main;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.area {
    padding: 25px;
    padding-right: 9px;
}

.area.first {
    grid-area: first;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.area.second {
    grid-area: second;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.area.third {
    grid-area: third;
    border-left: 1px solid black;
}

.area.fourth {
    grid-area: fourth;
    border-left: 1px solid black;
}


.title {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 15px;
}

.desc {
    font-weight: 300;
    font-size: 14px;
    color: #9C9C9C;
}

.image {
    width: 79px;
    height: 79px;
    border: 1px solid black;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.representative {
    display: flex;
    gap: 26px;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tasksList {
    list-style-type: disc;
    font-size: 14px;
    line-height: 16.41px;
}

.groupName {
    font-size: 30px;
    font-weight: 300;
}

.name {
    font-size: 18px;
    font-weight: 400;
}

.email {
    display: flex;
    gap: 10px;
    align-items: center;
}

.email p {
    font-size: 12px;
    color: #9C9C9C;
}

.icon {
    position: absolute;
    right: 0;
    top: 0;
}



@media (max-width: 991px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .first {
        border-top: 1px solid black;
        border-left: none !important;
    }

    .second {
        border-left: none !important;
    }

    .third {
        border-left: none !important;
        border-bottom: 1px solid black;
    }

    .fourth {
        border-left: none !important;
    }
}