.container {
    width: 100%;
    position: relative;
}

.input {
    border: 1px solid black;
    height: 27px;
    /* max-width: 218px; */
    padding: 3px 10px 3px 10px;
    box-sizing: border-box;
    font-family: inherit;
    width: 100%;
}

.input:focus {
    outline: none;
}

.passwordIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}