.quotes {
    background-color: inherit;
    padding-left: 140px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.quotes:before {
    content: "";
    width: 1px;
    height: 100%;
    background-color: #121212;
    position: absolute;
    left: 70px;
}

.year {
    position: absolute;
    left: 40px;
    top: 40px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    padding: 7px 14px;
}

@media (max-width: 991px) {
    .quotes {
        padding-left: 70px;
    }

    .quotes:before {
        left: 30px;
    }

    .year {
        left: 2px;
    }
}

/* @media (max-width: 611px) {
    .quotes {
        padding-left: 10px;
    }

    .quotes:before {
        display: none;
    }

    .year {
        display: none;
    }
} */