.container {
    background: #FFFFF1;
    background: -webkit-linear-gradient(left, #FFFFF1, #FBC8D9);
    background: -moz-linear-gradient(left, #FFFFF1, #FBC8D9);
    background: linear-gradient(to right, #FFFFF1, #FBC8D9);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
}

.auth {
    width: 100%;
    max-width: 475px;
    height: 436px;
    box-sizing: border-box;
}

.top {
    background-color: #FCFBF8;
    height: 383px;
    border: 1px solid black;
    box-shadow: 0px 0px 16px 12px rgba(34, 60, 80, 0.03);
    padding: 0 87px;
}

.register {
    padding: 5px;
    font-style: 20px;
    cursor: pointer;
}

.footer {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ru,
.en {
    cursor: pointer;
}

.title {
    font-size: 30px;
    text-align: center;
    margin: 50px 0;
    margin-bottom: 10px;
}

.info {
    margin-bottom: 50px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.restorePass {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #144AA7;
    transition: 0.2s;
}

.restorePass:hover {
    color: #114399;
}

.info {
    font-weight: 600;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}


@media (max-width: 480px) {
    .auth {
        padding-left: 5px;
        padding-right: 5px;
    }
}


@media (max-width: 395px) {
    .top {
        padding: 0 40px;
    }
}